.content {
  -moz-transition: all 1s ease-in;
  /* WebKit */
  -webkit-transition: all 1s ease-in;
  /* Opera */
  -o-transition: all 1s ease-in;
  /* Standard */
  animation: all 0.3s ease-in-out;
}
